.foot-nav{
    height: 50px;
    width: 100%;
    background-color:  rgb(22, 22, 22);
    color: white;
    padding: 22px 0px;
    display: flex;
    gap: 440px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: auto;
}

.foot-left-list{
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 35px;
    font-size: 10px;
    font-weight: 100;
}
.foot-right-head{
    font-size: 10px;
}